{% extends 'base.html' %}

{% block content %}
<div class='gallery' >
    {% load static %}
    <div class='gallery__container' id="text-area">
    {% for gallery_item in gallery_list %}
        <div class='gallery__item'>
            <div class='gallery__image'>
                {% with gallery_item.image_path as image_static %}
                    <p class='gallery__item--title'>{{gallery_item.title}} </p>
                    <p class='gallery__item--text'>{{gallery_item.text}}</p>
                    <img class="gallery__image--dim gallery__image--center" 
                        src="{% static image_static %}">
                    </img>
                {% endwith %}
            </div>
            <!-- <div class='gallery__text'>
                
                
            </div> -->
        </div>
    {% endfor %}
    </div>

</div>
{% endblock %} 