.sticky{
    position:fixed;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.9); 
    z-index: 1000;

}

.top{ 
    top: 0px;
    height: 175px;
}

.header {
    position: absolute;
    height:150px;
    width:100%;
    display:flex;
    justify-content:start;
}

.header__text {
    width:100%;
    padding-left: 18%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header__title {
    padding:0px;
}

.header__title--font {
    font-size: 300%;
    font-weight: 900;
    font-family: 'Arvo';
}

.header__subtitle {
    margin-top:-40px;
}

.header__subtitle--font {
    font-size: 120%;
    font-weight: 900;
    color: grey;
    font-family: 'Arvo';
}

.navbar{ 
    top: 125px;
    height: 30%;
    position: absolute;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 1px 1 darkgrey;
}

.navbar__button {
    padding: 15px 1vmax 10px;
    margin: 0% 5px 0%;
    text-decoration: black;
    text-transform: uppercase;

}

.navbar_text {
    font-size: 100%;
    font-weight: 900;
    font-family: 'Arvo';
    color: black;
}

.navbar__image {
    height: 40px;
}

.navbar__link {
    padding: 5px 10px 10px;
    margin: 0% 6px 0%;
}

.navbar__button:hover {
    background-color: rgba(25,25,25,0.1);
    box-shadow: 0 0px 0 darkgrey;
}

#navbar_button--active{
    background-color: rgba(25,25,25,0.1);
    box-shadow: 0 0px 0 darkgrey;
}

.content{
    top: 200px;
    position: relative;
}

.bottom {
    top:96%;
    height: 4%
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer__text {
    font-size:75%;
    font-family: 'Arvo'
}