<!doctype html>
<html>
    {% load static %}
    <script src="{% static 'main.js' %}" type="text/javascript"></script>
    <head>
            <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'gallery.css' %}">
            <meta charset="utf-8"/>
    </head>
    <body>
        <div class="header">
            <div class="header__text header__text--width">
                <div>
                    <h1 class="header__title header__title--black"> Kirill Stepanov </h1>
                    <h4 class="header__subtitle header__subtitle--grey"> SOFTWARE DEVELOPER </h1>
                </div>
            </div>
            <div class="header__image header__image--width header__image--height" id='header__image'>
                <script src="{% static 'waveform.js' %}" type="text/javascript"></script>
            </div>
        </div>
        <div class="navbar">
            <a class="navbar__button navbar_text navbar_button--color" 
               {% if request.path == '/about/' %} 
                    id="navbar_button--active"
               {% endif %}
               href="{% url 'about' %}">
               About
            </a>
            <a class="navbar__button navbar_text navbar_button--color" 
               {% if request.path == '/gallery/' %} 
                    id="navbar_button--active"
               {% endif %}
               href="{% url 'gallery' %}">
               Gallery
            </a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>