<!doctype html>
<html>
    {% load static %}
    <head>
            <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'gallery.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">
            <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
            <title>Kirill Stepanov - Software Developer</title>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <script src={% static "main.js" %}></script>
        <div class="header" id="header">
            <div class = 'header__text'>
                <h1 class="header__title header__title--font">kirill stepanov</h1>
                <h2 class="header__subtitle header__subtitle--font"> software developer </h2>
            </div>
        </div>
        <div class="navbar sticky" id="navbar">
            <span class="navbar__buttons" id='navbar-buttons'>
                <a class="navbar__button navbar__text navbar_button--color" 
                {% if request.path == '/about/' %} 
                        id="navbar_button--active"
                {% endif %}
                href="{% url 'about' %}">
                about
                </a>
                <a class="navbar__button navbar__text navbar_button--color"
                    {% if request.path == '/gallery/' %} 
                            id="navbar_button--active"
                    {% endif %}
                href="{% url 'gallery' %}">
                gallery
                </a>
                <a class="navbar__button navbar__text navbar_button--color" 
                {% if request.path == '/contact/' %} 
                        id="navbar_button--active"
                {% endif %}
                href="{% url 'contact' %}">
                contact
                </a>
            </span>
            <span class="navbar__links">
                <a class="navbar__link" href="https://github.com/kirillstp">
                    <img class="navbar__image" src={% static 'github.png' %}>
                </a> 
                <a class="navbar__link" href="https://linkedin.com/in/kirill-stepanov-27717064">
                    <img class="navbar__image" src={% static 'ln.png' %}> 
                </a> 
            </span>
        </div>
        <div class="content" id="content">
            {% block content %}{% endblock %}
        </div>
        <div class="bottom">
            <div class="footer">
                <p class=footer__text>
                    Kirill Stepanov - Software Developer @ 2019
                </p>
            </div>
        </div>
    </body>
</html>